*{
    margin-left: 10px;
}
img{
    width: 280px;
    height: 180px;    
}
span{    
    margin-left: 30px;
}
#moodsection{
    margin-bottom: 20px;
}
#header1{
    background-color:#52514f;
}
.describe{
    font-style: italic;
}
body {
    background-color: rgb(144, 153, 156);
  }
   

h3{
    font-style: unset;
    font-weight: bold;
    font-family: Arial, "Arial Black", Verdana, "Trebuchet MS",Georgia, Tahoma, "Courier New", "Times New Roman";
    background-color:rgb(29, 31, 29);
    color:white;
    width: 270px;
    height: 30px;
    margin-top: 5px;
    padding-left: 21px;
}
h1{
    color:olivedrab;
    text-align: center;
}
.validatorIcon{
    width:100px;
    height:40px;
}

